{% extends "layout.html" %}	
{% block content %}	
<form  class=" w-50 pl-5 mt-2" method="post" action="/users/create" enctype="multipart/form-data">
{% csrf_token %}

<div class="row form-row" >
    <div class="col-md-6">
        <div class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" required>
        </div>
    </div>
</div>

<div class="row form-row" >
    <div class="col-md-6">
        <div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" required>
        </div>
    </div>
</div>

<div class="row form-row" >
    <div class="col-md-6">
        <div class="form-group">
			<label>Password</label>
			<input type="password" name="password" class="form-control" required>
        </div>
    </div>
</div>

<div class="row form-row" >
    <div class="col-md-6">
        <div class="form-group">
			<label>Image</label>
			<input type="file" name="image" class="custom-file-input" id="customFile" >
			<label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
</div>

<div class="row form-row" >
    <div class="col-md-6">
        <div class="form-group">
			<label>CONTACT NUMBER</label>
			<input type="contactno" name="contactno" class="form-control" required>
        </div>
    </div>
</div>


<!-- username:{{form.name}}
email:{{form.email}}
password:{{form.password}}
image:{{form.image}}  -->
<button type="submit ">Submit</button>

</form>
<script>
	$(document).ready(()=>{
		$(".sidebar").find (".active").removeClass("active");
		$("#user").addClass("active");
    })
</script>

{% endblock content %}	