{% extends "frontend/layout.html" %}

{% block content %}
<div class="container">
    <h3 class="font-weight-bold  shadow-sm p-3 mb-5 bg-white rounded">About Paradigm Travels</h3> 
      <p class="text-left">Paradigm Travels is a local travel company based in Nepal that specializes in small groups, bespoke packages, combining them with the idea of wellness. We believe in creating the best travel experience for our clients, their safety being the main priority.We offer the widest variety of touring and trekking experiences possible aiming always to meet your specific needs. Whether you are relaxing on one of our tours in the comfort of an air-conditioned car or having an extreme adventure in the high Himalaya, you will be in good hands with Paradigm Travels.</p>
            
    <h3 class="font-weight-bold shadow-sm p-3 mb-5 bg-white rounded">Privacy Policy</h3> 
      <p class="text-left"> Paradigm Travels collects your required personal information for trek/tour process. We do not sell your personal information to any third party. We provide your information to our authorized agents, and government for travel permit and related documents required for your travel.</p>
      
    
        
    <h3 class="font-weight-bold shadow-sm p-3 mb-5 bg-white rounded">TEAM MEMBERS</h3>
               
    <table class="table table-bordered text-left table-info">
      <tr>
        <th >Name</th>  
        <th>Role</th>
      </tr>
      <tr>
        <td >Saya Joshi<p > Growing up in Kathmandu, Saya's favorite memories of her childhood is hiking at the Shivapuri National Park, a few kilometers from the main city. She is passionate about promoting the trekking routes of the Himalayas, especially among women adventurers</p></td>
        <td>Co-founder</td>
      </tr>
      <tr>
        <td>Rubin Singh Maharjan
          <p>From a very young age, Rubin was attracted to the idea of trekking when he would see foreigners with their huge backpacks on the streets of Kathmandu. During one highschool trekking trip to the Langtang region, he decided to explore his passion for trekking full time. Starting out as a porter, Rubin slowly started learning about the trekking industry and completed his guide training. Some of his favorite trekking routes are in the Dolpo, and the Langtang Region.</p>
            
        </td>          
        <td>Local Guide</td>
      </tr>
      <td>Shreeja Joshi
        <p>From a very young age, Shreeja was attracted to the idea of trekking when she would see foreigners with their huge backpacks on the streets of Kathmandu. During one highschool trekking trip to the Langtang region, he decided to explore her passion for trekking full time. Starting out as a porter, Shreeja slowly started learning about the trekking industry and completed her guide training. Some of his favorite trekking routes are in the Dolpo, and the Langtang Region.</p>
          
      </td>          
      <td>Local Guide</td>
    </tr>
      <tr>
        <td>Albert Maharjan
          <p>Co-Founder & Digital Marketing Strategist   Albert has always loved traveling to the rural areas of Nepal. His travels made him realize the economic benefit and development to the people living in these far-off areas. With his degree in Communications from University of Technology Sydney Australia, Albert wants to connect people around the world with the Himalayas so that they can explore the unique experience that it has to offer.</p>
        </td>          
        <td>Co-Founder</td>
      </tr>
      <tr>
        <td>Rubi Singh Maharjan
        <p>Co-Founder & Digital Marketing Strategist  Rubi has always loved traveling to the rural areas of Nepal. His travels made him realize the economic benefit and development to the people living in these far-off areas. With his degree in Communications from University of Technology Sydney Australia, Rubi wants to connect people around the world with the Himalayas so that they can explore the unique experience that it has to offer.</p>
                
        </td>
                        
        <td>Admininstrator</td>
      </tr>
    </table>
</div>


{% endblock content %}
