{% extends "frontend/layout.html" %}
{% block content %}
<div class="container">
    <h3 class="font-weight-bold shadow-sm p-3 mb-5 bg-white rounded">GET IN TOUCH</h3>
    <h4 class=" shadow-sm p-3 mb-5 bg-white rounded" >We are incredibly responsive to your requests and value your questions.</h4><br>

    <h3 class="font-weight-bold">Contact Us</h3>
    
    <div class=" d-inline-block text-left border shadow p-4 mb-6 bg-white rounded  " >
       <p> Phone Number: 9803052510 | 015251505 </p>
       <p>Email: Paradigm12@gmail.com</p>
       
       <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14136.914441776717!2d85.32634732808782!3d27.64839787505986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb175d448abaa9%3A0x10c41bebe5cc0ecc!2sHattiban%2C%20Lalitpur%2044700!5e0!3m2!1sen!2snp!4v1580744575724!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></p>
       <p>Hattiban, Lalitpur</p>
    
    </div>
        

</div>


{% endblock content %}
